<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/vendor.d5e73916.css">
    <link rel="stylesheet" href="styles/main.14219f9b.css">
    <base href="/">
    <link rel="icon" href="//d2c87l0yth4zbw.cloudfront.net/i/_global/favicon.png"> <!-- Open Graph data -->
    <meta property="og:title"
          content="Spotify - The Drop: Where artists release exclusive content leading up to their album drop.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://spotify-thedrop.com">
    <meta property="og:image" content="http://spotify-thedrop.com/images/facebook-share.jpg">
    <meta property="og:description"
          content="Spotify - The Drop: Where artists release exclusive content leading up to their album drop.">
    <meta property="og:site_name" content="Spotify - The Drop">
</head>
<body ng-app="dropApp" ng-class="{expanded: $root.expanded}">
<div class="site-content-container">
    <header ng-controller="HeaderCtrl" ng-include="'partials/header.html'"></header>
    <main ng-view ng-click="$root.expanded = false" ng-class="$root.view_class"></main>
    <nav class="site-mobile-navigation" ng-controller="HeaderCtrl"><a ng-repeat="link in links"
                                                                      ng-href="#{{ link.path }}"
                                                                      ng-class="{current: (path === link.path)}"
                                                                      ng-click="$root.expanded = false"> {{ link.title
        }} </a> <a ng-click="toggleShare()">SHARE</a>
        <div id="share-controls">
            <ul class="share-items">
                <li class="share-item"><a
                        href="https://www.facebook.com/sharer/sharer.php?u=http://www.spotify-thedrop.com"
                        target="_blank" class="share-button"> <i class="fa fa-facebook share-icon"></i> </a></li>
                <li class="share-item"><a href="https://twitter.com/home?status=Check%20out%20the%20drop"
                                          target="_blank" class="share-button"> <i class="fa fa-twitter share-icon"></i>
                </a></li>
                <li class="share-item"><a href="http://www.tumblr.com/share/link?url=http%3A%2F%2Fspotify-thedrop.com"
                                          target="_blank" class="share-button"> <i class="fa fa-link share-icon"></i>
                </a></li>
            </ul>
        </div>
    </nav>
</div>
<!--footer ng-include="'partials/footer.html'"></footer--> <!--
    <main ng-class="$root.animationClass">

      <div class="main-content">
        <header ng-controller="HeaderCtrl" ng-include="'partials/header.html'"></header>
        <div ng-view ng-click="$root.expanded = false" ></div>
      </div>

        <nav class="mobile-navigation" ng-controller="HeaderCtrl">
            <a ng-repeat="link in links" ng-href="{{ link.path }}" ng-click="$root.expanded = false" ng-class="{current: (path === link.path)}">
                {{ link.title }}
            </a>
        </nav>

    </main> --> <!--  <main ng-class="$root.animationClass">



        <header ng-controller="HeaderCtrl" ng-include="'partials/header.html'"></header>
        <div ng-view ng-click="$root.expanded = false"></div>
    </main>

    <nav class="mobile-navigation" ng-controller="HeaderCtrl">
        <a ng-repeat="link in links" ng-href="{{ link.path }}" ng-click="$root.expanded = false" ng-class="{current: (path === link.path)}">
            {{ link.title }}
         </a>
     </nav>
 -->

<section id="section02" class="demo">
    <div style="margin:50px; display:flex; align-items:center;justify-content:center;flex-direction:column;">
        <h1>Featured!</h1>
        <div id="chartContainer" style="height: 300px; width: 700px;"></div>
    </div>
</section>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<section id="section03" class="demo">
    <br />
    <br />
    <div style="margin:50px; display:flex; align-items:center;justify-content:center;flex-direction:column;">
        <h1>Your Table Segments!</h1>
        <div id="canvas" style="width:1500px;height:900px;"></div>
    </div>
</section>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<section id="section04" class="demo">
    <br />
    <br />
    <div style="margin:50px; display:flex; align-items:center;justify-content:center;flex-direction:column;">
        <h1>Taboola Segments!</h1>
        <div id="canvas2" style="width:1500px;height:900px;"></div>
    </div>
</section>

<script type="text/javascript" src="/scripts/canvasjs.min.js"></script>
<script src="scripts/vendor.js"></script>
<script src="scripts/vendor/isotope.min.333ccf0e.js"></script>
<script src="scripts/vendor/ng-infinite-scroll.min.4042e865.js"></script>
<script src="scripts/vendor/tweenmax.min.7c9e1e5f.js"></script>
<script src="scripts/vendor/jquery.fancybox.pack.cc9e759f.js"></script>
<script src="scripts/scripts.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://jsnetworkx.org/javascripts/scale.fix.js"></script>
<script src="http://jsnetworkx.org/javascripts/jsnetworkx.js"></script>

<script>

    function doScroll(elm){
        var itemId = $(elm).attr("section");
        $('html, body').animate({ scrollTop: $("#" + itemId).offset().top}, 500, 'linear');
    }

    var topUsers = [];
    var currentAppointment = null;

    var chart = new CanvasJS.Chart("chartContainer",{
        title: {
            text: "Best Rated Taboolars (to eat with, not in general...)!",
            fontColor: "white"
        },
        axisY: {
            labelFontColor: "white",
            titleFontColor: "white"
        },
        axisX: {
            labelFontColor: "white",
            titleFontColor: "white"
        },
        backgroundColor: "black",
        legend :{
            verticalAlign: 'bottom',
            horizontalAlign: "center",
            fontColor: "white"
        },
        data: [
            {
                type: "column",
                bevelEnabled: true,
                indexLabel: "{y}",
                dataPoints: topUsers
            }
        ]
    });

    function findUserInTopUsers(userName){

        var worstScoreIndex = 0;
        var worstScoreValue = -1;

        for (var i =  0; i < topUsers.length; i++){
            if (topUsers[i].label == userName){
                return topUsers[i];
            }

            if (worstScoreValue == -1 || worstScoreValue > topUsers[i].y){
                worstScoreIndex = i;
                worstScoreValue = topUsers[i].y;
            }
        }

        if (topUsers.length > 4){
            topUsers.splice(worstScoreIndex, 1);
        }
        return null;
    }

    var colors = ["#FF2500", "#FF6000", "#6B8E23"];

    var updateChart = function () {

        $.get("/get-top-scored", function(newTopUsers){


            for (var i = 0; i < newTopUsers.length; i++){
                var newItem = newTopUsers[i];
                var existingItem = findUserInTopUsers(newItem.name);
                if (existingItem == null){
                    topUsers.push({label: newItem.name,y:newItem.score,color:colors[i % colors.length]});
                }
                else{
                    existingItem.y = newItem.score;
                }
            }

            chart.render();

            setTimeout(function() {updateChart();}, updateInterval);
        });
    };

    var updateInterval = 1000;
    setTimeout(function() {updateChart();}, updateInterval);
    //    setInterval(function(){updateChart()}, updateInterval);

</script>

<script>

    function prepareTableSegmentsGraph(){
        if (currentAppointment == null){
            setTimeout(function(){prepareTableSegmentsGraph()}, 5000);
            return;
        }
        createSegmentsGraph(currentAppointment.users, "canvas");
    }

    function prepareAllUsersSegmentsGraph(){
        $.get("/segments-all-users", function(data){
            console.log("got %o for all segments", data);
            createSegmentsGraph(data, "canvas2");
        });
    }

    function createSegmentsGraph(users, elmId){

        console.log("in createSegmentsGraph - not null!");
        var G = new jsnx.DiGraph();

        for (var i = 0; i < users.length; i++){
            var currUser = users[i];
            console.log("currUser: " + currUser.name);
            if (currUser.userSegments == null || currUser.userSegments.length == 0){
                console.log(currUser.name + " has no segments");
                G.addNodesFrom([currUser.name],{color: '#008A00'});
                continue;
            }

            for (var j = 0; j < currUser.userSegments.length; j++){
                G.addNodesFrom([[currUser.name, {color: '#008A00'}],[currUser.userSegments[j].segmentName, {color: '#00C7AE'}]]);
                G.addEdgesFrom([[currUser.name, currUser.userSegments[j].segmentName]]);
            }
        }

        jsnx.draw(G, {
            element: '#' + elmId,
            withLabels: true,
            layoutAttr: {
                charge: -120,
                linkDistance: 200
            },
            nodeStyle: {
                fill: function(d) {
                    return d.data.color;
                }
            },
            nodeAttr:{
                r: function(d){
                    return Math.max(d.node.toString().length * 4, 10);
                }
            },
            edgeStyle: { fill: '#999' },
            labelStyle: {fill: 'white'},
            stickyDrag: true
        });
    }

    prepareTableSegmentsGraph();
    prepareAllUsersSegmentsGraph();

    function getName(segmentName){
        return null;
    }

</script>