html, body{
    height: 100%;
}

body {
    background: url(../images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div, body{
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
}

div {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

